### SERVER CONFIG
SERVER_DOMAIN="test.moddns.net"
SERVER_IP_ADDRESS="127.0.0.1"
SERVER_OUR_ASN=""
SERVER_OUR_IP_RANGE="10.5."

### API CONFIG
API_PORT=":3000"
API_ALLOW_ORIGIN="http://localhost:5173"

### CACHE CONFIG
CACHE_TTL=1m

### GEO LOOKUP CONFIG
GEOIP_DB_FILE=/opt/dnscheck/GeoIPCity/GeoLite2-City.mmdb
GEOIP_DB_ASN_FILE=/opt/dnscheck/GeoIP/GeoLite2-ASN.mmdb
