### SERVER CONFIG
SERVER_NAME="ivpndns.com"
DNS_CHECK_DOMAIN="test.moddns.net"
DNS_CHECK_PORT="53"

### UPSTREAM CONFIG
# Format: name=address,name=address,...
DNS_UPSTREAMS=sdns=10.5.0.5,unbound=10.5.0.6
DNS_UPSTREAMS_DEFAULT="sdns"

### TLS CONFIG 
TLS_CERT_PATH="/certs/ivpndns.com+4.pem"
TLS_KEY_PATH="/certs/ivpndns.com+4-key.pem"

### CACHE CONFIG
CACHE_ADDRESS="cache:6379"
CACHE_USERNAME="proxy"
CACHE_PASSWORD="proxypass"
CACHE_ADDRS=""
CACHE_FAILOVER_USERNAME=""
CACHE_FAILOVER_PASSWORD=""
CACHE_MASTER_NAME=""
CACHE_TLS_ENABLED="false"
CACHE_CERT_FILE=""
CACHE_KEY_FILE=""
CACHE_CA_CERT_FILE=""
CACHE_TLS_INSECURE_SKIP_VERIFY="false"

### PLAIN DNS SETTINGS
PLAIN_DNS_UDP_LISTEN_ADDR="53001"
PLAIN_DNS_TCP_LISTEN_ADDR="53001"

### DNS over HTTPS CONFIG
DOH_LISTEN_ADDR="443"

### DNS over TLS CONFIG
DOT_LISTEN_ADDR="853"

### DNS over QUIC CONFIG
DOQ_LISTEN_ADDR="853"

### PROXY SETTINGS
TRUSTED_PROXIES="10.5.0.0/16"

### EMITTER CONFIG
EMITTER_SINK_TYPE="mongodb"
EMITTER_SINK_DB_URI="mongodb://mongodb:27017"
EMITTER_SINK_DB_NAME="dns"
EMITTER_SINK_DB_USERNAME="admin"
EMITTER_SINK_DB_PASSWORD="admin"
EMITTER_SINK_DB_AUTH_SOURCE="admin"


### COLLECTORS CONFIGS
COLLECTOR_QUERY_LOGS_BATCH_SIZE=100
COLLECTOR_QUERY_LOGS_BATCH_INTERVAL=10s

COLLECTOR_STATISTICS_BATCH_SIZE=1000
COLLECTOR_STATISTICS_BATCH_INTERVAL=30s


### SENTRY CONFIG
SENTRY_DSN=""
SENTRY_ENVIRONMENT="staging"
SENTRY_RELEASE="1.2.3"

### LOGGING CONFIG
# AdGuard log level: error, info, debug (default: info)
LOG_LEVEL_ADGUARD="info"
# Proxy (zerolog) log level: trace, debug, info, warn, error, fatal, panic, disabled (default: info)
LOG_LEVEL_PROXY="info"

### DNS RESPONSE CACHE
DNS_CACHE_ENABLED=false
DNS_CACHE_SIZE=256000

### GENERAL CONFIG
PROFILE_ID_MIN_LENGTH=10
PROFILE_SETTINGS_CACHE_TTL=30s
