### DB CONFIG
DB_URI="mongodb://mongodb:27017"
DB_NAME="dns"
DB_USERNAME=""
DB_PASSWORD=""
DB_AUTH_SOURCE="admin"
DB_MIGRATIONS_SOURCE="file://db/mongodb/migrations"

### CACHE CONFIG
CACHE_ADDRESS="cache:6379"
CACHE_USERNAME=""
CACHE_PASSWORD=""
CACHE_ADDRS=""
CACHE_FAILOVER_USERNAME=""
CACHE_FAILOVER_PASSWORD=""
CACHE_MASTER_NAME=""
CACHE_TLS_ENABLED="false"
CACHE_CERT_FILE=""
CACHE_KEY_FILE=""
CACHE_CA_CERT_FILE=""
CACHE_TLS_INSECURE_SKIP_VERIFY="false"

### UPDATER CONFIG
UPDATER_TYPE=standard
UPDATER_SOURCES_DIR=sources

### SENTRY CONFIG
SENTRY_DSN=""
SENTRY_ENVIRONMENT="staging"
SENTRY_RELEASE="1.2.3"
