### SERVER CONFIG
SERVER_NAME="modDNS API"
SERVER_FQDN="app.staging.ivpndns.net"
SERVER_FRONTEND_DOMAIN="app.staging.ivpndns.net"
SERVER_DNS_DOMAIN=dns.staging.ivpndns.net
SERVER_DNS_SERVER_ADDRESSES="1.2.3.4"
SERVER_ALLOWED_DOMAINS=app.staging.ivpndns.net,api.staging.ivpndns.net

### SERVICE CONFIG
OTP_EXPIRATION=5m
MOBILECONFIG_PRIVATE_KEY_PATH="/certs/private_key.pem"
MOBILECONFIG_CERT_PATH="/certs/certificate.pem"
ID_LIMITER_MAX=5
ID_LIMITER_EXPIRATION=60m
MAX_PROFILES=50
MAX_CREDENTIALS=10

### API CONFIG
API_PORT=":3000"
API_SESSION_EXPIRATION=8h
API_SESSION_LIMIT=10
API_BASIC_AUTH_USERNAME=""
API_BASIC_AUTH_PASSWORD=""
API_ALLOW_ORIGIN="http://localhost:3001"
API_ALLOW_IP="*"
API_PSK=""
API_SIGNUP_WEBHOOK_URL=""
API_SIGNUP_WEBHOOK_PSK=""
PROFILE_ID_MIN_LENGTH=10

### DB CONFIG
DB_URI="mongodb://mongodb:27017"
DB_NAME="dns"
DB_USERNAME="admin"
DB_PASSWORD="admin"
DB_AUTH_SOURCE="admin"
DB_MIGRATIONS_SOURCE="file://db/mongodb/migrations"
DB_TLS_ENABLED="false"
DB_CERT_FILE=""
DB_KEY_FILE=""
DB_CA_CERT_FILE=""
DB_TLS_INSECURE_SKIP_VERIFY="false"

### CACHE CONFIG
CACHE_ADDRESS="cache:6379"
CACHE_USERNAME="api"
CACHE_PASSWORD="apipass"
CACHE_ADDRS=""
CACHE_MASTER_NAME=""
CACHE_FAILOVER_USERNAME=""
CACHE_FAILOVER_PASSWORD=""
CACHE_TLS_ENABLED="false"
CACHE_CERT_FILE=""
CACHE_KEY_FILE=""
CACHE_CA_CERT_FILE=""
CACHE_TLS_INSECURE_SKIP_VERIFY="false"

### EMAIL SENDER CONFIG
EMAIL_SENDER_TYPE="mailtrap"
EMAIL_SENDER_INBOX_ID=""
EMAIL_SENDER_AUTH_TOKEN=""

### SENTRY CONFIG
SENTRY_DSN=""
SENTRY_ENVIRONMENT="staging"
SENTRY_RELEASE="1.2.3"
